<div class="text-center col-xs-12 col-sm-12 right-cards card-share menu-card">
<div>Share with your friends</div>
<ul class="list-inline">
    <li>
      <a href="">
       <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa fa-google"></i>
      </a>
    </li>
</ul>
</div>
