/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Dancing+Script");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Open Sans", "Helvetica", "cursive";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$text-color: #8e8e8e;
$hover-color: #da552f;
$focus-color: rgb(255, 250, 250);

$btn-hover: #9a2828;

$bg-color: rgba(245,245,245,1);

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
