.searchpage {
  background-color:rgba(245,245,245,1);
}
.left-side {
  background-color:rgba(245,245,245,1);
}

.scroll {
  height:890px;
  overflow:scroll;
}

.map {
  height:1000px!important;
  background-repeat:no-repeat;
  background-size:cover;
  padding:0px;
  background-color:rgba(245,245,245,1);
}

.params {
  width: 100%;
  padding: 5px 20px;
  background: #fff;
  border-top: 1px solid #f0f0f0;
  clear:both;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.param {
  font-size:12px;
  padding:8px 0px;
}

.no-results h2 {
  font-family: 'Dancing Script', cursive;
}
