<div id="footer">

  <a href="/">
    <h4>Beauty Food</h4>
  </a>

  <h5>Some beautyfood in your Inbox?</h5>
  <p>Receive all news about our chefs and their latest beautyfood menus</p>

<div id="mc_embed_signup">
  <form action="//lewagon.us14.list-manage.com/subscribe/post?u=8cdcf06f762ff00b3c38a7fa0&amp;id=04ec8deaa1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

    <div class="newsletter-input" id="mc_embed_signup_scroll">
    <span class="mc-field-group">
      <input type="email" value="" placeholder="you@gmail.com" name="EMAIL" class="form-control required email" id="mce-EMAIL">
    </span>
    <span id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </span>

    <span class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></span>
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8cdcf06f762ff00b3c38a7fa0_04ec8deaa1" tabindex="-1" value=""></div>
  </form>
</div>


  <ul class="list-inline footer-menu">
  <li><a href="/">HOME</a></li>
  <li><a href="#">BECOME A CHEF</a></li>
  <li><a href="#">HYGIENE</a></li>
  <li><a href="#">FAQ</a></li>
  <li><a href="#">LEGAL NOTICE</a></li>
  <li><a href="#">JOBS</a></li>
  <li><a href="#">PRESS</a></li>
  </ul>

  <p>—</p>

  <p>Copyright © BeautyFood 2016. Made with <i class="fa fa-heart"></i> in Le Wagon </p>

</div>
