<div id="footer">

  <a href="/">
    <h4>Beauty Food</h4>
  </a>

  <h5>Some beautyfood in your Inbox?</h5>
  <p>Receive all news about our chefs and their latest beautyfood menus</p>
  <form>
    <div class="newsletter-input">
    <input type="email" placeholder="you@gmail.com" class="form-control" name="email" required="">
    <button type="submit" class="btn btn-primary">Subscribe</button>
    </div>
  </form>

  <ul class="list-inline footer-menu">
  <li><a href="/">HOME</a></li>
  <li><a href="#">BECOME A CHEF</a></li>
  <li><a href="#">HYGIENE</a></li>
  <li><a href="#">FAQ</a></li>
  <li><a href="#">LEGAL NOTICE</a></li>
  <li><a href="#">JOBS</a></li>
  <li><a href="#">PRESS</a></li>
  </ul>

  <p>—</p>

  <p>Copyright © BeautyFood 2016. Made with <i class="fa fa-heart"></i> in Le Wagon </p>

</div>
