<div class="container value-prop">
  <div class="row">
    <div class="feature col-xs-12 col-sm-4">
      <i class="fa fa-heart-o"></i>
      <h3>Quality food</h3>
      <p>Always enjoy freshly-made, delicious meals originating from all over the world..</p>
    </div>

    <div class="feature col-xs-12 col-sm-4">
      <i class="fa fa-angellist"></i>
      <h3>Eat cheaper</h3>
      <p>Meals are at affordable prices because they're homemade and prepared locally with no delivery charges.</p>
    </div>

    <div class="feature col-xs-12 col-sm-4">
      <i class="fa fa-smile-o"></i>
      <h3>A social experience</h3>
      <p>More than just a takeaway, you'll meet your chef and get the chance to talk!</p>
    </div>
  </div>
</div>
