<div class="chef-page">
  <div class="row">
  <div class="col-md-5 col-md-offset-2 overlay">
    <h1><strong>Cook meals at home</strong> for your neighbours to take away</h1>
    <p>Chefs use extra income to fund their passions.</p>
    <a href="#" class="btn btn-primary btn-block">Become a chef</a>
  </div>
  </div>
</div>

<%= render 'chef_form', user: @user %>
