<div class="homepage">
    <div class="video-container">
      <div class="title-container">
        <div class="headline">
            <!--Logo here-->
            <h1>Beauty Food</h1>
            <h3><strong>Enjoy</strong> the cooking of the best chefs nearby</h3>
        </div>
      </div>
      <%= render 'searchbar' %>
      <div class="filter"></div>
      <%=video_tag(["Fruity/MP4/Fruity.mp4", "Fruity/OGV/Fruity.ogv"], autoplay: true, loop: true, class: "fillWidth" ) %>
    </div>
    <div class="container value-prop">
      <div class="row">
        <div class="feature col-xs-12 col-sm-4">
          <i class="fa fa-heart-o"></i>
          <h3>Quality food</h3>
          <p>Always enjoy freshly-made, delicious meals originating from all over the world..</p>
        </div>

        <div class="feature col-xs-12 col-sm-4">
          <i class="fa fa-angellist"></i>
          <h3>Eat cheaper</h3>
          <p>Meals are at affordable prices because they're homemade and prepared locally with no delivery charges.</p>
        </div>

        <div class="feature col-xs-12 col-sm-4">
          <i class="fa fa-smile-o"></i>
          <h3>A social experience</h3>
          <p>More than just a takeaway, you'll meet your chef and get the chance to talk!</p>
        </div>
      </div>
    </div>

    </div>
</div>
