.avatar {
  width: 60px;
  border-radius: 50%;
  /*box-shadow: 0 1px 5px rgba(0,0,0,0.2);*/
  border: white 3px solid;
}
.avatar-large {
  width: 100px;
  border-radius: 50%;
  /*box-shadow: 0 1px 5px rgba(0,0,0,0.2);*/
  border: white 1px solid;
}
