.menu-card {
  color: $text-color;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 30px;
  background-color:white;
}

.right-card-container{
  left: 20px;
}

.right-cards {
  background: white;
  padding: 15px;
}

.card-share {
 margin-top: 25px;
 font-size:13px;
 color:gray;
 padding-bottom:0px;
}

.style_form {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-appearance: none;
  webkit-appearance: none;
  color: #757575;
  border: 1px solid #d8d8d8;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-top:20px;
  margin-bottom:20px;
}

.button_style {
  padding-top: 15px;
  padding-bottom: 15px;
}


.menu-card .photo {
  z-index:0;
  position:relative;
  width:100%;
  height:200px; /* FIXED HEIGHT FOR HOME CARDS */
  background-size: cover;
}

.photo.large {
  height:400px; /* FIXED HEIGHT FOR MENUS CARDS */
}

.menu-card .photo:hover {
  opacity:0.9;
}

.link-menu {
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  opacity: 0;
}


.link-chef {
  position: absolute;
  right: 10px;
  top: 170px;
  z-index:9;
}

.link-chef-large {
  left: 15px;
  top: -30px;
  z-index: 9;
  position: relative;
}

.description {
  width: 100%;
  padding: 5px 20px;
  background: #fff;
}

.description h2 {
  font-size: 45px;
  letter-spacing: -1px;
  margin-top: 10px;
  font-family: 'Dancing Script', cursive;
}

.description h3 {
  font-size: 17px;
  letter-spacing: -1px;
  margin-top: 10px;
}
.description p {
  font-size: 14px;
  font-weight: lighter;
  float: left;
}

.description span {
  font-size: 14px;
  font-weight: bold;
  float:right;
}

.description ul {
  padding:0px;
  margin:0px;
  list-style-type: none;
}
.description li {
  padding: 10px 0px;
  font-size: 13px;
}
.description li.bordered {
  border-top: 1px solid #f0f0f0;
}

.localisation {
  width: 100%;
  padding: 5px 20px;
  background: #fff;
  border-top: 1px solid #f0f0f0;
  clear:both;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.localisation p {
  font-size:13px;
  font-weight: lighter;
  margin: 0px;
  line-height: 30px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-share a {
 text-decoration:none;
 color:black;
}

.card-share a:hover {
 text-decoration:none;
 color:black;
}

.chef .chef-photo {
  z-index:0;
  position:relative;
  width:100%;
  height:400px; /* FIXED HEIGHT FOR CHEF CARDS */
  background-size: cover;
}

.chef p {
  color:white;
  z-index:9;
  position:relative;
}

.chef h3 {
  color:white;
  z-index:9;
  position:relative;
}

.action-card {

}

.action-card span {
  font-size:13px;
}

.action-card .styled-select {
  margin-top:3px!important;
}

.portions {
  font-size:13px;
  font-weight:bold;
}

.portions .empty {
  color:$brand-color;
}

.gone {
  color: gray;
  padding: 40px;
  background-color: lightgray;
  font-size: 12px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 25px;
}

.card-share li {
    padding: 15px;
    border-right:1px solid #ccc;
    margin-right: -4px;
}

.card-share li:last-child {
    padding: 15px;
    border-right:0px solid #ccc;
}

.card-share ul {
  margin-bottom:5px;
  margin-top:10px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
}
