.menu-card {
  color: $text-color;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 30px;
  background-color:white;
}

.menu-card .photo {
  z-index:0;
  position:relative;
  width:100%;
  height:200px; /* FIXED HEIGHT FOR ALL CARDS */
  background-size: cover;
}

.menu-card .photo:hover {
  opacity:0.9;
}

.link-menu {
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  opacity: 0;
}


.link-chef {
  position: absolute;
  right: 10px;
  top: 170px;
  z-index:9;
}

.description {
  width: 100%;
  padding: 5px 20px;
  background: #fff;
}

.description h3 {
  font-size: 17px;
  letter-spacing: -1px;
  margin-top: 10px;
}
.description p {
  font-size: 13px;
  font-weight: lighter;
  float: left;
}

.description span {
  font-size: 14px;
  font-weight: bold;
  float:right;
}

.localisation {
  width: 100%;
  padding: 5px 20px;
  background: #fff;
  border-top: 1px solid #f0f0f0;
  clear:both;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.localisation p {
  font-size:13px;
  font-weight: lighter;
  margin: 0px;
  line-height: 30px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
