.btn {
  font-size: 14px;
  border-radius: 0px;

}

.cta-btn {
  line-height: 20px;
  color: #fff !important;
  font-weight: lighter;
  z-index: 1;
  border: 1px solid #D23333 !important;
  background-color: #D23333;
}

.form-bg {
  background: image-url('banner.jpg') no-repeat 90% 40%;
  background-size: cover !important;
}
