/* FORMS WITH BACKGROUND */

.form-bg {
  background: image-url('banner.jpg') no-repeat 90% 40%;
  background-size: cover !important;
  min-height: 450px;
}

.form-card {
  background-color: rgba(0, 0, 0, 0.6);
  color:white;
  margin-top: 20px;
  padding: 20px;
}

.form-card h2 {
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 40px;
}

.form-card a, .form-card a:hover {
  color:white;
  text-decoration: none;
  font-size:12px;
}

/* REGULAR FORMS */

.forms {
  background-color: white;
  color:$text-color;
  margin-top: 20px;
  padding: 20px;
  // box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);

}

.forms h2 {
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 40px;
  color: $text-color;
  position: relative;
  top: 20px;
  width: 380px;
  text-align: center;
  margin: 0 auto;
  background-color: white;
}

.forms h2 .small {
  width: 160px;
}

.forms a, .forms a:hover {
  color:black;
  text-decoration: none;
  font-size:12px;
}

.form-control {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #CCCCCC;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  // border-left:0px;
  height:50px;
  border-radius: 0px;
  transition: background-color 0.2s ease-in-out;
}

.form-control:focus  {
  background-color: $focus-color;
}

.radio label, .checkbox label {
  font-size:12px;
  line-height: 20px;
}

.btn {
  font-size: 14px;
  border-radius: 0px!important;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: $btn-hover;
}

.cta-btn {
  line-height: 20px;
  color: #fff !important;
  font-weight: lighter;
  z-index: 1;
  border: 1px solid #D23333 !important;
  background-color: #D23333;
}

.btn-primary {
  line-height: 20px;
  color: #fff !important;
  font-weight: lighter;
  z-index: 1;
  border: 1px solid #D23333 !important;
  background-color: #D23333!important;
  height: 50px;
  transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
 background-color: $btn-hover!important;
}

.btn-sub {
  background-color: transparent!important;
  margin-top:20px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.help-block {
  font-size:12px;
}

.datepicker-days {
  font-size: 11px;
  padding: 5px;
}
