/* Navbar search form */
.search-container {
  background-color: #000;
  background-color: rgba(0,0,0,0.6);
  bottom: 0;
  left: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  position: absolute;
  right: 0;
  z-index:999;
}
.searchbar {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.search-btn {
  line-height: 40px;
  color: #fff!important;
  z-index: 1;
  font-size: 24px;
  border: 1px solid #D23333!important;
  background-color: #D23333;
}
.searchbar input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #CCCCCC;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  border-left:0px;
}
.searchbar input:focus  {
  border-color: #000;
  border-left:1px solid #000;
}

.searchbar .search-city  {
  border-left:1px solid #CCCCCC;
}

.searchbar .styled-select {
  background: image-url('arrow-down.png') no-repeat 90% 20%;
  background-color: white;
  height: 42px;
  overflow: hidden;
  width: 240px;
  line-height: 40px;
  font-weight: lighter;
  color: rgba(102, 102, 102, 0.6);
  border: 1px solid #CCCCCC;
  border-left:0px;
}

.searchbar .styled-select:after {
  content: '<i class="fa fa-caret-down" aria-hidden="true"></i>';
}

.searchbar .styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 42px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
   color: #666666;
}

.searchbar .styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

