/* Navbar search form */
.search-container {
  background-color: #000;
  background-color: rgba(0,0,0,0.6);
  bottom: 0;
  left: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  position: absolute;
  right: 0;
  z-index:999;
}
.searchbar {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.search-btn {
  line-height: 40px;
  color: #fff!important;
  z-index: 1;
  font-size: 24px;
  border: 1px solid $brand-color!important;
  background-color: $brand-color;
}
.searchbar input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #CCCCCC;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  border-left:0px;
  height:50px;
}
.searchbar input:focus  {
  background-color: $focus-color;
}

.searchbar .search-city  {
  border-left:1px solid #CCCCCC;
}

.searchbar .styled-select {
  background: image-url('arrow-down.png') no-repeat 90% 40%;
  background-color: white;
  height: 50px;
  overflow: hidden;
  width: 310px;
  line-height: 40px;
  font-weight: lighter;
  color: rgba(102, 102, 102, 0.6);
  border: 1px solid #CCCCCC;
  border-left:0px;
}

.searchbar .styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 50px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 110px;
   color: #666666;
}

/* LITTLE SEARCH */

.little-searchbar {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  margin-bottom:20px;
  border-bottom: 1px solid #CCCCCC;
}
.little-searchbar search-btn {
  line-height: 40px;
  color: #fff!important;
  z-index: 1;
  font-size: 24px;
  border: 1px solid $brand-color!important;
  background-color: $brand-color;
}
.little-searchbar input {
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #CCCCCC;
  padding: 0 10px;
  font-size: 12px;
  outline: none;
  height:50px;
}
.little-searchbar .small {
  width:90px;
}
.little-searchbar input:focus  {
  background-color: $focus-color;
}

.little-searchbar .search-city  {
  border-left:1px solid #CCCCCC;
}

.little-searchbar .styled-select {
  background-color: white;
  height: 50px;
  overflow: hidden;
  line-height: 40px;
  font-weight: lighter;
  color: rgba(102, 102, 102, 0.6);
  border: 1px solid #CCCCCC;
  border-left:0px;
}

.little-searchbar .styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 50px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
   color: #666666;
}
